@charset "UTF-8";

html {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: #000000;
    font-weight: normal;
}

h2 {
    text-align: center;
    font-size: 25px;
    color: #1b1b1b;
    font-weight: normal;
    padding: 15px;

}

h3 {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

p {
    padding: 5px 10px 5px 10px;
    color: #157cc8;
    padding: 15px 10px 10px 15px;
}

.prop {
    justify-content: center;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    margin: auto;
    max-width: 200px;
    padding: 10px 40px;
    background-color: #157cc8;
    flex-wrap: wrap;
    display: flex;
}

body {
    overflow-x: hidden;
}

* {
    margin: 0px;
    padding: 0px;
}

main {
    min-width: 320px;
    margin: auto;
}

section {
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

article {
    text-align: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Configuração do Menu*/

nav#menu {
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 3px #00000038;
    display: block;
    padding: 8px 0px 0px 0px;
    border-radius: 6px;
}

nav#menu ul {
    list-style: none;
}

nav#menu li {
    padding: 30px 0px 20px 0px;
    display: inline-block;
}

nav#menu a:hover {

    background-color: #0000001e;
}

nav#menu a:hover {
    color: #157cc8;
}

nav#menu a {
    padding: 40px 20px 20px 20px;
    text-decoration: none;
    color: #000000;
}

.mobileMenuIcon {
    display: none;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 3px #00000038;
    border-radius: 6px;
}

.mobileMenu ul {
    display: none;
}

.mobileMenu li {
    padding: 20px;
}

.mobileMenu a {
    justify-content: center;
    text-align: center;
    display: flex;
}

.mobileMenu li:hover {
    background-color: #0000001e;
}

@media screen and (max-width: 800px) {
    nav#menu {
        display: none;
    }

    .mobileMenu {
        display: none;
        width: 100%;
        background-color: white;
        box-shadow: 0px 2px 3px #00000038;
        border-radius: 6px;

    }

    .mobileMenuIcon {
        display: block;

    }

    .mobileMenuIcon button {
        cursor: pointer;
        border-style: none;
        background-color: #fff;
    }

    .mobileMenu ul {
        display: block;
        flex-direction: column;
        text-align: center;

    }

    .mobileMenu a {
        color: #000000;
        text-decoration: none;
    }

    .mobileMenu a:hover {
        color: #157cc8;
    }

    .open {
        display: block;
    }
}

/* Configuração Seção Principal*/

section#principal {
    background-image: linear-gradient(to bottom, #acacac0e, #acacac2d);
    padding-bottom: 0px;
}

aside#listQuali {
    padding: 10px;
    text-align: center;
    display: inline block;
}

.listaPrincipal {
    color: #1b1b1b;
    font-size: large;
    list-style: none;
    font-weight: bold;
    text-shadow: none;
}

.listaPrincipal::after {
    content: attr(data-text);
    animation: fader 4s linear;
    padding: 8px;
}

@keyframes fader {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

section#principal h1 {
    justify-content: center;
    font-size: 50px;
    color: #1b1b1b;
}

section#principal h2 {
    color: #157cc8;
}

article#idPerfil {
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    justify-content: center;
    padding-bottom: 0px;
}

aside#textoPerfil {
    max-width: 500px;
    margin: auto;
}

/* Configuração Seção Perfil Profissional*/

article#perfil {
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

aside#textoPerfProf {
    text-align: justify;
    margin: auto;
    max-width: 600px;
    padding: 20px;
}

/* Configurção Seção de Habilidades */

section#boxHabilidades {
    background-image: linear-gradient(to bottom, #acacac0e, #acacac2d);
}

article#habilidades {
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.boxHabilidades {
    background-color: #fff;
    text-align: center;
    box-shadow: 2px 3px 6px #00000046;
    margin: 15px 20px;
    padding: 25px 15px 25px 15px;
    border-radius: 8px;
    width: 270px;
}

/* Configuração Seção Formação*/

section#boxFormacao {
    margin: auto;

}

article#formacao {
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

aside#fotoFormatura {
    padding: 25px 15px 25px 15px;
    margin: auto;
}

img#formatura {
    border-radius: 8px;
    justify-content: center;
}

aside#textoFormatura {
    text-align: justify;
    margin: auto;
    max-width: 600px;
    padding: 20px;
}

/* Configuração Seção Experiências*/
section#boxExperiencias {
    background-image: linear-gradient(to bottom, #acacac0e, #acacac2d);
}

section#boxExperiencias h2 {
    margin: auto;
    text-align: center;
    justify-content: center;
}

article#experiencias h2 {
    color: #157cc8;
}

article#experiencias h3 {
    font-weight: bold;
    color: #000000c7;
}

article#experiencias p {
    color: #000000;
}

article#experiencias {
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

}

.experiencias {
    background-color: #fff;
    text-align: justify;
    box-shadow: 2px 3px 6px #00000046;
    margin: 15px 20px;
    padding: 25px 15px 25px 15px;
    border-radius: 8px;
    width: 270px;
}

.mais {
    display: none;
}

.btnLeiaMais {
    cursor: pointer;
    color: #157cc8;
    background-color: #157dc82a;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

/*Configuração Seção Cursos*/

section#boxCursos {
    background-image: linear-gradient(to bottom, #acacac0e, #acacac2d);
}

section#boxCursos h2 {
    margin: auto;
    text-align: center;
    justify-content: center;
}

article#cursos h2 {
    color: #157cc8;
}

article#cursos h3 {
    font-weight: bold;
    color: #000000c7;
}

article#cursos p {
    color: #000000;
}

article#cursos {
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

}

.aprendizado {
    background-color: #fff;
    text-align: justify;
    box-shadow: 2px 3px 6px #00000046;
    margin: 15px 20px;
    padding: 25px 15px 25px 15px;
    border-radius: 8px;
    width: 270px;
}

/*Configuração Seção Quem Sou*/

article#quemSou {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

aside#textoQuemSou {
    text-align: justify;
    margin: auto;
    max-width: 600px;
    padding: 20px;
}

aside#fotoQuemSou {
    padding: 25px 15px 25px 15px;
    margin: auto;
}

img#euSou {
    border-radius: 8px;
    justify-content: center;
}

/*Configuração section Contato*/

section#boxContato p {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

/*Configuração Formulario de contato*/

article#formContato {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}


aside#aContato {
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 2px 3px 6px #00000046;
    border-radius: 8px;
}

#socialContato a {
    text-decoration: none;
}

#alertErro {
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #ff5d5d;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    display: none;

}

#alertSucesso {
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #49c098;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    display: none;
}

#aContato label {
    text-align: left;
    padding: 10px;
    font-size: medium;
}

input#envia {
    display: none;
}

#aContato input[type="text"],
#aContato textarea[type="text"] {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
    margin: auto;
    padding: 10px;
    width: 100%;
}

#aContato input[type="text"]:hover,
#aContato textarea[type="text"]:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #157cc8;
}

fieldset {
    max-width: 400px;
    border: medium none !important;
}

fieldset p {
    color: #000000c7;
}

fieldset button {
    margin-top: 30px;
    padding: 10px;
    width: 40%;
    color: #fff;
    background-color: #157cc8;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

fieldset button:hover {
    cursor: pointer;
    background-color: #157dc8c5;
}

/*Configuração Social Contato */

section#social h2 {
    text-align: center;
    padding: 25px;
    max-width: 400px;
    margin: auto;
}

aside#aContato p {
    font-size: large;
    max-width: 300px;
    margin: auto;
}

aside#redesSociais {
    padding: 25px;
    max-width: 600px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

aside#redesSociais a {
    color: #000000;
    text-decoration: none;
    margin: auto;
    justify-content: center;
}

aside#redesSociais h3 {
    color: #000000;
    font-size: medium;
}

aside#textoRedesSociais {
    margin: auto;
    justify-content: center;
    max-width: 500px;
}

.boxContato {
    justify-content: center;
    text-align: center;
    box-shadow: 2px 3px 6px #00000046;
    margin: 10px 10px;
    border-radius: 8px;
    height: 130px;
    width: 140px;
    background-color: #fff;
}

.boxContato figcaption {
    margin: -10px;
}

footer {
    box-shadow: 6px 6px 6px 6px #00000046 ;
    background-image: linear-gradient(to bottom, #acacac0e, #acacac2d);
    text-align: center;
}